# Import functios

In [1]:
from stocktool import StockData, StockPrediction, StockEvaluation

# Forecast

**Use `StockPrediction(data, val)` or `StockPrediction(val, stocks, start, end, period)` to get prediction data structure.**  

- Here we can use the data obtained before, and can also specify new stocks and time period.
- Our forecasting based on TBATS model, which combines trend analysis, seasonality analysis, ARIMA and box-cox transformation.

In [2]:
data1 = StockData(stocks = ["Meta", "AMZN"], start = "2022-01-20", period = 180)
model = StockPrediction(data1)

In [3]:
model1 = StockPrediction(val = "Open", 
                         stocks = ["AAPL", "MSFT", "TM", "MCD", "TSLA"], 
                         start = "2020-10-20", 
                         end = "2022-11-28")

**Use `predict(days, level)` to predict the stock price in next few days (default days is next 1 day), along with confidence interval (default level is 95%).**  

- `model.predict()` is a dictionary, you can access the prediction of a stock by `model.predict()["stock_name"]`.
- You can specify preferred predicting days and confidence interval.

In [4]:
model.predict(days = 5, level = 0.9)["Meta"]

                  Meta    Meta-low   Meta-high
2022-07-19  168.686611  156.989511  181.255248
2022-07-20  169.131937  153.531302  186.317785
2022-07-21  168.246717  149.979779  188.738496
2022-07-22  167.657658  147.320145  190.802761
2022-07-25  168.561107  146.367641  194.119729

In [5]:
model1.predict()["AAPL"]

                 AAPL    AAPL-low   AAPL-high
2022-11-29  145.27397  139.851063  150.907156

**Use `update(date)` to update model with new stock price data.**

- If not specifiy `date` argument, `update()` will update model with data till today.

In [6]:
model1.update(date="2022-12-01")

In [7]:
model1.predict()["AAPL"]

                  AAPL    AAPL-low   AAPL-high
2022-11-30  144.109063  138.696661  149.732675

In [8]:
model1.update()

The Stock Market if not open on 2023-04-02, update until the last open date.

In [9]:
model1.predict()["AAPL"]

                  AAPL    AAPL-low   AAPL-high
2022-12-05  146.001231  140.442754  151.779703