---
description: Configuration parameters and synthetic datasets creation
output-file: config.html
title: Config

---

<!-- WARNING: THIS FILE WAS AUTOGENERATED! DO NOT EDIT! -->

In [1]:
#| echo: false
#| output: asis
show_doc(generate_synthetic_data)

---

[source](https://github.com/hrossman/pheno-utils/blob/main/pheno_utils/config.py#L20){target="_blank" style="float:right; font-size:smaller"}

### generate_synthetic_data

>      generate_synthetic_data (n:int=1000)

Generates a sample DataFrame containing age, gender, and value data.

Args:
    n: The number of rows in the generated DataFrame.

Returns:
    A pandas DataFrame with columns 'age', 'gender', and 'val'.

In [ ]:
data = generate_synthetic_data()
data.head()

,date_of_research_stage,age_at_research_stage,sex,val1,val2
participant_id,,,,,
0,2022-09-30,66.164378,0,93.087297,24.564893
1,2022-12-25,53.070666,0,91.391330,24.056103
2,2020-08-12,36.070647,0,47.200916,10.798979
3,2020-04-12,53.006367,1,112.068038,32.259115
4,2022-09-04,67.249748,0,112.129756,30.277630